:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4d963d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --unit0: 4px;
  --unit1: 8px;
  --unit2: 12px;
  --unit3: 16px;
  --unit4: 24px;
  --unit5: 32px;
  --unit6: 48px;
  --unit7: 64px;
  --unit8: 96px;
  --unit9: 128px;
  --unit10: 192px;
  --unit11: 256px;
  --unit12: 384px;
  --unit13: 512px;
  --unit14: 640px;
  --unit15: 768px;
  --unit16: 960px;
}

#root {
  max-width: 1280px;
  height: 100vh;
  overflow-y: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

b {
  font-weight: 700;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.cowboy {
  position: absolute;
  width: var(--unit9);
  height: var(--unit9);
  img.main {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
  }
  img.head {
    z-index: 1;
    position: absolute;
  }
}

.cowboy-anny {
  left: 0%;

  img.main {
    transform: scale(0.6);
  }

  img.head {
    width: 52px;
    height: 52px;
    top: 4px;
    left: 40px;
    transform: rotate(-18deg);
  }
}

.cowboy-mom {
  left: 20%;

  img.main {
    transform: scale(0.6);
  }

  img.head {
    width: 68px;
    height: 68px;
    top: -18px;
    left: 26px;
  }
}

.cowboy-chris {
  left: 40%;

  img.main {
    transform: scale(0.6);
  }

  img.head {
    width: 68px;
    height: 68px;
    top: -24px;
    left: 32px;
    transform: rotate(28deg);
  }
}

.cowboy-tanya {
  left: 60%;

  img.main {
    transform: scale(0.6);
  }

  img.head {
    width: 68px;
    height: 68px;
    top: -14px;
    left: 32px;
    transform: rotate(8deg);
  }
}

.track {
  height: 100%;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;

  .topInfo {
    height: var(--unit5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin: var(--unit1);
    color: #000;
    background-color: #fff;
    border-radius: 8px;
  }

  .inner-track {
    flex: 1;
    position: relative;
  }

  .bottomInfo {
    height: var(--unit5);
    background-color: #f9e58b;
  }
}

.hand-drawn-line {
  stroke: white;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 5, 5; /* Dashed stroke */
}

.eiffel {
  position: absolute;
  width: var(--unit10);
  height: var(--unit10);

  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  img {
    width: 100%;
    height: 100%;
  }
}

.rainbow-div {
  width: 100%;
  height: var(--unit1);
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
